body {
    background-color: black;
    color : white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

header {
    background-color: white;
    color : black;
    height : 150px;
    width : 100vw;
    position : fixed;
    top : 0;
    opacity : 100%
}

header img {
    width : 80px;
    position :fixed;
    top : 20px;
    left : 20px;
}

.mainLogoText {
    position : fixed;
    font-size: 70px;
    top : 30px;
    left : 40%;
    transform:translatex(-20%);
    
    
 
}

main {
    padding :50px;
    padding-top : 200px
}

nav {
    position : fixed;
    width : 100vw;
    top : 150px;
    
    background-color : blue;
    color : white;


}

nav a {
    color : white;
    text-decoration: none;
    padding : 10px;
    padding-left: 20px;
    padding-right : 20px;
}

nav a:hover {
    background-color: brown;
}


nav ol {
    display  : flex;
    justify-content: space-around;
    list-style: none;
}